Pandas library

In [ ]:
import pandas as pd
import numpy as np
data = {
    'A': [1, 2, 3, np.nan, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [np.nan, 2, 3, 4, 5],
    'D': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

print("\n head():")
print(df.head())

print("\n tail():")
print(df.tail())

print("\n describe():")
print(df.describe())

print("\n info():")
print(df.info())

print("\n shape:")
print(df.shape)

print("\n columns:")
print(df.columns)

print("\n index:")
print(df.index)

print("\n dtypes:")
print(df.dtypes)

print("\n isnull():")
print(df.isnull())

print("\n notnull():")
print(df.notnull())

print("\n drop_duplicates():")
print(df.drop_duplicates())

print("\n set_index():")
print(df.set_index('A'))

print("\n reset_index():")
print(df.set_index('A').reset_index())

print("\n rename():")
print(df.rename(columns={'A': 'Alpha'}))

print("\n sort_values():")
print(df.sort_values(by='D'))

print("\n sort_index():")
print(df.sort_index())


print("\n pivot_table():")
print(df.pivot_table(values='D', index='B', aggfunc='sum'))

print("\n crosstab():")
print(pd.crosstab(df['B'], df['D']))

print("\n merge():")
df2 = pd.DataFrame({'B': ['a', 'b', 'f'], 'E': [100, 200, 300]})
print(pd.merge(df, df2, on='B'))

print("\n concat():")
df3 = pd.DataFrame({'F': [1, 2, 3, 4, 5]})
print(pd.concat([df, df3], axis=1))

print("\n join():")
print(df.join(df2.set_index('B'), on='B'))


print("\n query():")
print(df.query('D > 20'))

print("\n sample():")
print(df.sample(2))

print("\n to_csv():")
df.to_csv('output.csv', index=False)

print("\n read_csv():")
print(pd.read_csv('output.csv'))

print("\n to_excel():")
df.to_excel('output.xlsx', index=False)

print("\n read_excel():")
print(pd.read_excel('output.xlsx'))

print("\n to_json():")
print(df.to_json())

print("\n read_json():")
print(pd.read_json(df.to_json()))

print("\n. stack():")
print(df.stack())

print("\n unstack():")
print(df.stack().unstack())

print("\n factorize():")
print(pd.factorize(df['B']))

print("\n get_dummies():")
print(pd.get_dummies(df['B']))

print("\n nunique():")
print(df['B'].nunique())

print("\n unique():")
print(df['B'].unique())

Original DataFrame:
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 head():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 tail():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 describe():
              A         C          D
count  4.000000  4.000000   5.000000
mean   2.750000  3.500000  30.000000
std    1.707825  1.290994  15.811388
min    1.000000  2.000000  10.000000
25%    1.750000  2.750000  20.000000
50%    2.500000  3.500000  30.000000
75%    3.500000  4.250000  40.000000
max    5.000000  5.000000  50.000000

 info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       5 non-null      object
 2   C       4 non-null      float64
 3   D       5 non-null      int64
dtypes: float64(2), int64(1), object(1)
memory usage: 288.0+ bytes
None

 shape:
(5, 4)

 columns:
Index(['A', 'B', 'C', 'D'], dtype='object')

 index:
RangeIndex(start=0, stop=5, step=1)

 dtypes:
A    float64
B     object
C    float64
D      int64
dtype: object

 isnull():
       A      B      C      D
0  False  False   True  False
1  False  False  False  False
2  False  False  False  False
3   True  False  False  False
4  False  False  False  False

 notnull():
       A     B      C     D
0   True  True  False  True
1   True  True   True  True
2   True  True   True  True
3  False  True   True  True
4   True  True   True  True

 drop_duplicates():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 set_index():
     B    C   D
A
1.0  a  NaN  10
2.0  b  2.0  20
3.0  c  3.0  30
NaN  d  4.0  40
5.0  e  5.0  50

 reset_index():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 rename():
   Alpha  B    C   D
0    1.0  a  NaN  10
1    2.0  b  2.0  20
2    3.0  c  3.0  30
3    NaN  d  4.0  40
4    5.0  e  5.0  50

 sort_values():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 sort_index():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 pivot_table():
    D
B
a  10
b  20
c  30
d  40
e  50

 crosstab():
D  10  20  30  40  50
B
a   1   0   0   0   0
b   0   1   0   0   0
c   0   0   1   0   0
d   0   0   0   1   0
e   0   0   0   0   1

 merge():
     A  B    C   D    E
0  1.0  a  NaN  10  100
1  2.0  b  2.0  20  200

 concat():
     A  B    C   D  F
0  1.0  a  NaN  10  1
1  2.0  b  2.0  20  2
2  3.0  c  3.0  30  3
3  NaN  d  4.0  40  4
4  5.0  e  5.0  50  5

 join():
     A  B    C   D      E
0  1.0  a  NaN  10  100.0
1  2.0  b  2.0  20  200.0
2  3.0  c  3.0  30    NaN
3  NaN  d  4.0  40    NaN
4  5.0  e  5.0  50    NaN

 query():
     A  B    C   D
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 sample():
     A  B    C   D
1  2.0  b  2.0  20
2  3.0  c  3.0  30

 to_csv():

 read_csv():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 to_excel():

 read_excel():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 to_json():
{"A":{"0":1.0,"1":2.0,"2":3.0,"3":null,"4":5.0},"B":{"0":"a","1":"b","2":"c","3":"d","4":"e"},"C":{"0":null,"1":2.0,"2":3.0,"3":4.0,"4":5.0},"D":{"0":10,"1":20,"2":30,"3":40,"4":50}}

 read_json():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

. stack():
0  A    1.0
   B      a
   D     10
1  A    2.0
   B      b
   C    2.0
   D     20
2  A    3.0
   B      c
   C    3.0
   D     30
3  B      d
   C    4.0
   D     40
4  A    5.0
   B      e
   C    5.0
   D     50
dtype: object

 unstack():
     A  B    C   D
0  1.0  a  NaN  10
1  2.0  b  2.0  20
2  3.0  c  3.0  30
3  NaN  d  4.0  40
4  5.0  e  5.0  50

 factorize():
(array([0, 1, 2, 3, 4]), Index(['a', 'b', 'c', 'd', 'e'], dtype='object'))

 get_dummies():
       a      b      c      d      e
0   True  False  False  False  False
1  False   True  False  False  False
2  False  False   True  False  False
3  False  False  False   True  False
4  False  False  False  False   True

 nunique():
5

 unique():
['a' 'b' 'c' 'd' 'e']

<ipython-input-10-be55f8eef208>:104: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  print(pd.read_json(df.to_json()))